<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="postlist">
        <div class="line">
            <div>게시글번호</div>
            <div>게시글제목</div>
            <div>게시글내용</div>
        </div>
        <% postitem.forEach(function(item,index){ %>
            <div class="line">
                <!-- db 프로퍼티 항목을 잘 봐야함 -->
                <div><%- item.brdid %></div>
                <div><%- item.brdtitle %></div>
                <div><%- item.brdcontext %></div>
            </div>
        <% }); %>
    </div>
</body>
</html>