<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/postupdateresult" method="post">
        <select name="updatenumber">
            <!-- <option value="1">게시글1</option> -->
            <!-- 폼태그에서 입력한 데이터값은 전부 데이터타입(자료형)이 문자열(string) -->
            <% postitem.forEach(function(item,index){ %>
                <option value="<%- item.brdid %>">게시글 <%- item.brdid %></option>
            <% }); %>
        </select>
        <label>수정할 게시글제목</label>
        <input type="text" name="updatetitle">
        <label>수정할 게시글내용</label>
        <input type="text" name="updatetxt">
        <button type="submit">수정</button>
    </form>
</body>
</html>