<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성 화면</title>
</head>
<body>
    <form id="myform" action="/postadd" method="post">
        <input type="text" name="brdtitle">
        <input type="text" name="brdtxt">
        <button type="submit">게시글 작성</button>
    </form>
</body>
</html>