<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/postupdateresult" method="post">
        <label>수정할 게시글제목</label>
        <input type="text" name="updatetitle">
        <label>수정할 게시글내용</label>
        <input type="text" name="updatetxt">
        <button type="submit">수정</button>
    </form>
</body>
</html>